/*============Font liste============*/
/*=====Pour <H1>-<H3>: Great Vibes,Tangerine, Allura, Parisienne ===========*/
/*=====Pour <p>: Roboto, Roboto Condensed, Open Sans
#3B464A --> Block Menu
#FFFFFF --> Texte Menu
#CC93A5 --> Block Présentation
#FFFFFF --> Texte Présentation
#8A81AF --> Block Services
#4A545A --> Textes Services
#3B464A --> Block Nav Footer
#415751 --> Sous-Block Footer
#       --> Texte (Couleur Non définit)
*/
ul{
	    list-style-type: none;
}
p{
	font-color:#B28A68;
	font-family: 'Roboto', sans-serif;
}
h4{
	font-family: 'Great Vibes', cursive;
	font-size:24px;
}

h1{
	color:#A2B5BF;
	font-family: 'Great Vibes', cursive;
	font-size:52px;
}
h2{
	font-family: 'Great Vibes', cursive;
}
h3{
	font-family: 'Great Vibes', cursive;
}
/*.header{
	background-color:#FFFFFF;
	height:150px;
}*/
/*.menu{
	background-color:#3B464A;
	height:75px;
	/*border: #FFFFFF solid 2px;
}*/
.menu p{
		color:#FFFFFF;
		padding-top:20px;
}

.location{
	
	height:550px;
	/*border-right:2px solid #E16776;*/
	/*border-bottom: 2px solid #E16776;*/
}
.traiteur{
	height:500px;
	/*border-right:2px solid #E16776;*/
	/*border-bottom: 2px solid #E16776;*/

}
.deco{
	
	height:500px;
	/*border-bottom: 2px solid #E16776;*/
}

.img_b{
	margin-top:50px;
	height:365px;
	width:275px;
	border:10px solid #A2B5BF;
	margin-left:25px;

}

.descrip_text p{
	margin-top:425px;
	/*position:center;*/
	width:315px;
}
.img_fond{
	position: relative;
}
.descrip_text{
	position: absolute;
}
.presentation{
	background-color:#CC93A5;
	height:500px;
	padding-top:125px;
	/*border: #FFFFFF solid 2px;*/
}
.presentation p{
	color: #FFFFFF;
}
.block_1{
	background-color: #8A81AF;
}
.block_3{
	background-color: #FFFFFF;
	height:650px;

}
.block_3 p{
	color: #575241;
}
.a_remplir{
	background-color:#FFFFFF;
	height:325px;
	padding:0px;
}
.a_remplir2 p{
	margin-top:35px;
	width:200px;
	margin-left:45px;
}
.a_remplir2{
	background-color:#FFFFFF;
	height:325px;
}
.text_presentation p{
	border-top: 2px solid #A2B5BF;
	border-bottom:2px solid #A2B5BF;
	padding-top:25px;
	padding-bottom:25px;
}
.footer{
	background-color: #415751 ;
	height:200px;
	/*border-top: #FFEFB6 double 2px;*/
}	
}
.img_comp{
	height:100%;
	width:100%;

}

/*=============================================
=              	Menu Nav  			            =
=============================================*/

.cfluid{
	padding: 0;
}
.navbar-header{
	color:#A2B5BF;
	font-family: 'Great Vibes', cursive;
	font-size:52px;

}
.navbar{
	border: 0;
	border-radius: 0;
	height:75px;
	/*border: #FFFFFF solid 2px;*/
}
.navbar-nav{
	background-color:#3B464A;
	width: 100% !important;
}

.navbar-nav li{
	color: white;
}
.navbar-nav a{
	text-transform: uppercase;
	text-decoration-style: none;
	color: white;
}
.bl1{
	margin-right:90px;
	margin-left:75px;

}
.bl2{
	margin-right:90px;
	margin-left:75px;
}

.begin_block{
	margin-left: 195px;
}
.end_block{
	margin-right: 195px;
}
/*=====  End of Section comment block  ======*/


.navbar-header a{
color:#A2B5BF;
	font-family: 'Great Vibes', cursive;
	font-size:52px;
}

.header_effect:hover{
	color:#A2B5BF;
	text-decoration: none;
}

.nav li > a:hover{
background-color: #3B464A;
}
