/*============Font liste============*/
/*=====Pour <H1>-<H3>: Great Vibes,Tangerine, Allura, Parisienne ===========*/
/*=====Pour <p>: Roboto, Roboto Condensed, Open Sans */
/*=====Pour couleur  barre nav et peut-être Fedala #F5CBA7  ou "#7F6A57"seulement pour titre.
arrière plan présentation #FFE3A1
footer #AEF2FF
texte #B28A68 selon le fond
*/
p{
	font-color:#B28A68;
}
h1{
	color:#7F6A57;
}
.header{
	background-color:#FFFFFF;
	height:150px;
}
.menu{
	background-color:#F5CBA7 ;
	height:75px;
	border: #F4EDFF solid 2px;
}
.menu p{
		padding-top:20px;
}
.location{
	background-color:#FFFFFF ;
	height:500px;
	/*border-right:2px solid #E16776;*/
	/*border-bottom: 2px solid #E16776;*/
}
.traiteur{
	background-color:#FFFFFF;
	height:500px;
	/*border-right:2px solid #E16776;*/
	/*border-bottom: 2px solid #E16776;*/

}
.deco{
	background-color:#FFFFFF ;
	height:500px;
	/*border-bottom: 2px solid #E16776;*/
}
.img_fond{
	position: relative;
}
.descrip_text{
	position: absolute;
}
.presentation{
	background-color:#FFE3A1;
	height:500px;
	padding-top:125px;
	/*border: #FFFFFF solid 2px;*/
}
.block_3{
	background-color: #FFFFFF;
	height:600px;
}
.a_remplir{
	background-color:#FFFFFF;
	height:200px;
	padding:0px;
}
.a_remplir2{
	background-color:#FFFFFF;
	height:200px;
	padding:0px;
}
.footer{
	background-color: #AEF2FF ;
	height:200px;
	border-top: #FFFFFF double 2px;
}
hr_pre{
	color:#7F6A57;
	width: 15px;
}
.img_comp{
	height:100%;
	width:100%;
}